{% extends 'base.html' %}
{% block title %}{{ 'Edit' if edit else 'Tambah' }} SK Kematian{% endblock %}
{% block content %}

<div class="page-title">
  <div class="title_left">
    <h3><i class="fa fa-cross"></i> {{ 'Edit' if edit else 'Tambah' }} Surat Keterangan Kematian</h3>
  </div>
</div>
<div class="clearfix"></div>

<div class="row">
  <div class="col-md-8 col-sm-12 col-xs-12">
    <div class="x_panel">

      <div class="x_title">
        <h2><i class="fa fa-edit"></i> Form SK Kematian</h2>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">
        <form method="POST" class="form-horizontal">

          <!-- Autocomplete -->
          <div class="form-group">
            <label class="control-label col-md-3">Cari NIK/Nama</label>
            <div class="col-md-9">
              <input type="text" id="cari_nik" class="form-control" placeholder="Ketik NIK atau Nama...">
            </div>
          </div>

          <!-- nik -->
          <div class="form-group">
            <label class="control-label col-md-3">NIK</label>
            <div class="col-md-9">
              <input type="text" name="nik" id="nik" class="form-control" required
                     value="{{ data.nik if data else '' }}">
            </div>
          </div>

          <!-- nama -->
          <div class="form-group">
            <label class="control-label col-md-3">Nama</label>
            <div class="col-md-9">
              <input type="text" name="nama" id="nama" class="form-control" readonly required
                     value="{{ data.nama if data else '' }}">
            </div>
          </div>

          <!-- tempat lahir -->
          <div class="form-group">
            <label class="control-label col-md-3">Tempat Lahir</label>
            <div class="col-md-9">
              <input type="text" name="tempat_lahir" id="tempat_lahir" class="form-control" readonly
                     value="{{ data.tempat_lahir if data else '' }}">
            </div>
          </div>

          <!-- tanggal lahir -->
          <div class="form-group">
            <label class="control-label col-md-3">Tanggal Lahir</label>
            <div class="col-md-9">
              <input type="date" name="tanggal_lahir" id="tanggal_lahir" class="form-control" readonly
                     value="{{ data.tanggal_lahir if data else '' }}">
            </div>
          </div>

          <!-- jenis kelamin -->
          <div class="form-group">
            <label class="control-label col-md-3">Jenis Kelamin</label>
            <div class="col-md-9">
              <input type="text" name="jenis_kelamin" id="jenis_kelamin" class="form-control" readonly
                     value="{{ data.jenis_kelamin if data else '' }}">
            </div>
          </div>

          <!-- alamat -->
          <div class="form-group">
            <label class="control-label col-md-3">Alamat</label>
            <div class="col-md-9">
              <textarea name="alamat" id="alamat" class="form-control" rows="2" readonly>{{ data.alamat if data else '' }}</textarea>
            </div>
          </div>

          <!-- tanggal meninggal -->
          <div class="form-group">
            <label class="control-label col-md-3">Tanggal Meninggal</label>
            <div class="col-md-9">
              <input type="date" name="tanggal_meninggal" class="form-control" required
                     value="{{ data.tanggal_meninggal if data else '' }}">
            </div>
          </div>

          <!-- tempat meninggal -->
          <div class="form-group">
            <label class="control-label col-md-3">Tempat Meninggal</label>
            <div class="col-md-9">
              <input type="text" name="tempat_meninggal" class="form-control" required
                     value="{{ data.tempat_meninggal if data else '' }}">
            </div>
          </div>

          <!-- Tombol -->
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <a href="{{ url_for('s_kematian.admin_index') }}" class="btn btn-default">Kembali</a>
              <button type="submit" class="btn btn-success">Simpan</button>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    $("#cari_nik").autocomplete({
      source: "/s-kematian/cari-nik",
      minLength: 2,
      select: function (event, ui) {
        const nik = ui.item.value.split(' - ')[0];
        $("#nik").val(nik);
        $.getJSON("/s-kematian/penduduk/" + nik, function (d) {
          $("#nama").val(d.nama || "");
          $("#tempat_lahir").val(d.tempat_lahir || "");
          $("#tanggal_lahir").val(d.tanggal_lahir || "");
          $("#jenis_kelamin").val(d.jenis_kelamin || "");
          $("#alamat").val(d.alamat || "");
        });
      }
    });
  });
</script>
{% endblock %}
